@page "/"

<PageTitle>Home</PageTitle>

<Motion Enter="@_enter">
    <h1>Hello, world!</h1>

    Welcome to your new app.
</Motion>

@code {
    private object _enter = new
    {
        X = new float[2] { 0, 100 }
    };
}